.app {
  width: 90%;
  background-color: #F1F4F8;
  height: fit-content;
  margin: auto;
  border-radius: 24px 24px 0 0;
  min-height: 100%;
  position: relative;
  padding: 35px 30px;
  margin-top: 84px;
  max-width: 1270px;
  overflow: hidden;
}
.titleFileInput {
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  color:#C9CDD9;
  letter-spacing: 1px;
  width: 100%;
}
.titleFileInput:focus {
  color: black;
}
.inputTitle {
  padding: 25px 40px;
  border-bottom: 1px solid #C9CDD9;
}
.selectMethod {
  width:30px;
  cursor: pointer;
}
.selectMethod:hover,.active {
  background-color:#c9cdd93b !important;
}
.someText {
  background-color: #FFFFFF;
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;
  position: absolute;
  height: fit-content;
  max-height: 100vh;
  height: 70vh;
  bottom: 0;
  overflow-y: scroll;
  top: 94px;
  left: 25px;
  box-sizing: border-box;
  right: 25px;
}

.someText::-webkit-scrollbar-thumb{
  width: 1px;
  background: red;
}

.MainText {
  padding: 25px 40px;

}
.public-DraftEditorPlaceholder-inner {
  color: #C9CDD9;
}
.editPanel {
  width: 100%;
  background-color:#FFFFFF;
  border-radius:15px;
  height: 55px;
  display: flex;
  padding:0 25px;
  flex-direction: row;
  align-items:center;
  margin: auto;
}
.elemEditer {
  display: flex;
  flex-direction: row;
  align-items:center;
}
.line {
  width: 2px;
  height: 80%;
  border-radius: 4px;
  background-color: #C9CDD9;
}
.searchLine {
  margin-left: 20px;
  width: 100%;
}
.findText {
  border: none;
  outline: none;
  font-size: 14px;
  color:black;
  width: 100%;
}
.findText::placeholder, .titleFileInput::placeholder {
  color: #C9CDD9;
}
.elemEditer > div {
  display: flex;
  width: 52px;
  height: 40px;
  border-radius:4px;
  background-color: white;
  justify-content: center;
  align-items:center;
  margin-right: 36px;
}
