body {
  background-color: #EAEDF0;
}
body, html,#root {
  height: 100%;
  overflow: hidden;
}
.myBulletListStyle {
  margin-left: 20px;
  list-style-type: disc;
}

.myNumberListStyle {
  margin-left: 20px;
  list-style-type: decimal;
}

* {
  margin: 0;
  transition: 0.2s ease;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Ubuntu';
  box-sizing: border-box;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assetss/font/Ubuntu-Regular.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assetss/font/Ubuntu-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assetss/font/Ubuntu-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assetss/font/Ubuntu-BoldItalic.ttf');
  font-weight: 650;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assetss/font/Ubuntu-LightItalic.ttf');
  font-weight: 250;
}